# ResearchGPT Backend Dependencies

fastapi
uvicorn[standard]
python-multipart

pydantic
pydantic-settings

SQLAlchemy
psycopg2-binary

python-jose[cryptography]
passlib[bcrypt]
bcrypt

httpx
requests

pypdf

sentence-transformers==3.0.1
transformers==4.41.2


qdrant-client
minio
redis

numpy
scikit-learn

python-dotenv
torch==2.3.1

openai

openai

# Email validation
email-validator==2.2.0
